
// CSS Style Sheet base taken from Lizzy's Wildlander Wiki
// https://github.com/Wildlander-mod/wildlander-mod.github.io/

$blue-100: #dbeafe;
$blue-200: #bfdbfe; 
$blue-300: #93c5fd;
$blue-400: #60a5fa; 
$blue-500: #3b82f6;

$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;

$indigo-400: #818cf8;
$indigo-600: #4f46e5;
$indigo-700: #4338ca;
$indigo-800: #3730a3;

$violet-500: #8b5cf6;
$violet-600: #7c3aed;
$violet-700: #6d28d9;

$font-size-1: 9px !default;
$font-size-1-sm: 10px !default;
$font-size-2: 11px !default; // h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 12px !default; // h5
$font-size-4: 14px !default;
$font-size-5: 18px !default; // h3
$font-size-6: 22px !default; // h2
$font-size-7: 26px !default;
$font-size-8: 32px !default; // h1
$font-size-9: 36px !default;
$font-size-10: 42px !default;
$font-size-10-sm: 48px !default;

$code-background-color: #121212;
$table-background-color: #121212;

:not(pre, figure) {
  & > code {
    padding: 0em 0em;
    font-weight: 400;
    background-color: $code-background-color;
    border: 0px solid $border-color;
    border-radius: $border-radius;
  }
}

@media print {
  .side-bar
  .page-header {
    display: none;
  }
  .main-content {
    max-width: auto;
    margin: 1em;
  }
}

// Stop main content overlapping with sidebar when main content is too wide and produces a horizonal scroll bar
.side-bar{
	z-index:8;
}

// floating header
@media screen and (min-width: 800px) {
	.main-header {
		position:Fixed;
		width: $content-width;
		z-index:10;
		background:$body-background-color;
		
	}
}

// To stop overlap with the floating header
.main-content-wrap {
  padding-top: 5.5rem;
}

// to make scrolling links position 100px from top of screen
html{
    scroll-padding-top:100px;
}

 
// External content
iframe {
  min-width: 100%;
  height: 700px;
  border: none;
  margin: 0;
}

.yt-embed {
	min-width: 0;
	height: 360px;
    width: 100%;
}

.btn-indigo {
  @include btn-color(#ffffff, #4f46e5); 
}

.search-input {
	color: #60a5fa;
    font-weight: bold;
    font-size: 16px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 10px;
}

table {
  width:100%;
  border-collapse:collapse;
  table-layout:fixed;
  margin-bottom: 15px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

th {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
  color: #b6b6b6;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
}

td:nth-child(1) {
  width:100px;
}


td:nth-child(2) {
  width:105px;
  white-space: nowrap;
}

td:nth-child(3) {
  width:195px;
}

td:nth-child(4) {
  text-align:right;
  width:150px;
}

th,
td {
  min-width: 7.5rem;
  background-color: $table-background-color;
  border-bottom: $border rgba($border-color, 0.5);
  border-left: $border $table-background-color;

  @include fs-3;

  &:first-of-type {
    border-left: 0;
  }
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  border-top: 2px solid green;
  margin: 20px 0 20px;
}

dt {
  color:#F0E7D5;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}


// Code block settings
blockquote {
  border-left:3px solid #ffcc00;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
  font-family: 'Roboto Mono', monospace;
  color:#f0e7d5;
  font-size:14px;
  margin: 0 4px;
  padding: 4px 6px;
  border-radius: 2px;
}


pre {
  padding:8px 15px;
  background: #31343f;
  border-radius: 2px;
  border:1px solid #121212;
  overflow: auto;
  overflow-y: hidden;
  margin-bottom: 25px;
  margin-left: 20px;

  code {
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
  }
}

.highlight,
pre.highlight {
    background-color: #31343f;
    white-space : pre-wrap !important;
    word-break: break-word;
    color: #ffffff;
    font-family:system-ui,-apple-system,blinkmacsystemfont,"Segoe UI",roboto,"Helvetica Neue",arial,sans-serif;
}


// Top right shortcut settings
.aux-nav-list-item {
display: inline-block;
height: 100%;
padding: 0;
margin: 0;
font-family: Averta, sans-serif;
font-size: 14px;
font-weight: 400;
text-decoration: none;
cursor: pointer;
color: #fff;
background: transparent;
}

.site-button{
    color: #fff;
}

.site-button:hover {
	color: #60a5fa;
}


// Sidebar Link settings
.nav-category {
  padding-right: $gutter-spacing-sm;
  padding-left: $gutter-spacing-sm;
  padding-top: 0;
  font-weight: 600;
  text-align: start;
  text-transform: uppercase;
  border-bottom: $border $border-color;

  @include mq(md) {
    padding-right: $gutter-spacing;
    padding-left: $gutter-spacing;
    margin-top: $gutter-spacing-sm;
    text-align: start;

    &:first-child {
      margin-top: 0;
    }
  }
}

// Sidebar Link settings
.nav-category-Expanded {
  padding-right: $gutter-spacing-sm;
  padding-left: $gutter-spacing-sm;
  padding-top: 0;
  font-weight: 600;
  font-size: 14px;
  text-align: start;
  text-transform: uppercase;
  border-bottom: $border $border-color;
  color: #60a5fa;

  @include mq(md) {
    padding-right: $gutter-spacing;
    padding-left: $gutter-spacing;
    margin-top: $gutter-spacing-sm;
    text-align: start;

    &:first-child {
      margin-top: 0;
    }
  }
}

.nav-list.nav-category-list {
  > .nav-list-item {
    margin: 0;
	color: fff;
	line-height: 1.025;

 
        > .nav-list-expander {
		  width: 24px;
		  height: 24px;
		  padding-top: 0.25rem;
		  padding-right: 0.25rem;
		  padding-bottom: 0.25rem;
		  padding-left: 0.25rem;
		  margin-top: -10px;
        }
    }
}

// Main body settings 
.main-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{
	  color:#e8e8e8;
	  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
	h2 {
  font-size: 20px !important;
    margin: 20px 0px 15px 0px;
	padding: 10px 10px 10px 10px;
	background: #191919;
  border-radius: 2px;
  border:2px solid #006000;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
	
	h3 {
  font-size: 20px;
  line-height: 24px;
  font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #e8e8e8;
}
	
	h1 {
  font-size:34px;
  margin: 50px 0px 20px 0px;
  padding: 20px 20px 20px 0px;
  border-top: 3px solid green;
  border-bottom: 3px solid green;
}

a {
  color:#ffcc00;
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: #ffeb9b;
  }
}

a small {
  font-size:11px;
  color:#666;
  margin-top:-0.6em;
  display:block;
}

ul{
  list-style-image:url('../images/bullet.png');
}


}


// Phin was here
// Stylings for the recommended/minimum specs
// on the /DlAndInstall/ page
.minimum-specs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

	.section {
		font-size: 1.2em;
	}

	.specs {
		display: inherit;
		flex-direction: column;
	}

	.component {
		display: inherit;
		align-items: center;
		img {
			margin-right: 0.5em;
		}
	}
}

@media (max-width: 600px) {
	.minimum-specs {
		display: flex;
		flex-direction: column;
	}
}

//Slideshow CSS for use on player homes
 
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.Captiontext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom:20px;
  width: 100%;
  text-align: center;
}

.mySlides {
  display:none;
}

.active-slide {
  display:block;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slidein {
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

// Search box settings
.myInputBox {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
