{% if page.print %}
  <style>
    @page {
      @top-right {
        content: "{{ site.title | default: 'Printable Docs' }}";
        font-size: 10pt;
        color: #666;
      }
    }
  </style>
  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
  <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}">
{% endif %}
<link rel="stylesheet" href="{{ "/assets/css/custom.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css">
