---
layout: skyground_base
---

<main class="hub-page">
  <section class="hub-center">
    <div class="hub-cards">
      <a href="{{ '/wunduniik/' | relative_url }}" class="hub-card">
        <img src="{{ '/assets/Images/Skyrim/enb_2026-2-28_18-36-11_274.webp' | relative_url }}" alt="Wunduniik">
        <span>Wunduniik</span>
        <span class="hub-card-game">Skyrim SE</span>
      </a>

      <a href="{{ '/krentoraan/' | relative_url }}" class="hub-card">
        <img src="{{ '/assets/Images/Skyrim/enb_2026-2-22_01-19-29_028.webp' | relative_url }}" alt="Krentoraan">
        <span>Krentoraan</span>
        <span class="hub-card-game">Skyrim SE</span>
      </a>

      <a href="{{ '/ghost-of-the-grid/' | relative_url }}" class="hub-card">
        <img src="{{ '/assets/Images/Cyberpunk/photomode_22022026_172726.webp' | relative_url }}" alt="Ghost of the Grid">
        <span>Ghost of the Grid</span>
        <span class="hub-card-game">Cyberpunk 2077</span>
      </a>

      <a href="{{ '/no-mans-sky-explorer/' | relative_url }}" class="hub-card">
        <img src="{{ '/assets/Images/generic_background.webp' | relative_url }}" alt="No Mans Sky Explorer">
        <span>No Mans Sky Explorer</span>
        <span class="hub-card-game">No Man's Sky</span>
      </a>

      <a href="{{ '/extrasolar-containment-protocol/' | relative_url }}" class="hub-card">
        <img src="{{ '/assets/Images/Starfield/Starfield%202026-01-09%2022-00-39_009.webp' | relative_url }}" alt="Extrasolar Containment Protocol">
        <span>Extrasolar Containment Protocol</span>
        <span class="hub-card-game">Starfield</span>
      </a>
    </div>
  </section>
  {{ content }}
</main>
