---
layout: skyground_base
---

<main class="hub-page">
  <section class="hub-center">
    <div class="hub-cards">
      <a href="{{ '/wunduniik/index/' | relative_url }}" class="hub-card">
        <img src="{{ '/assets/Images/Skyrim/enb_2026-2-28_18-36-11_274.png' | relative_url }}" alt="Wunduniik">
        <span>Wunduniik</span>
      </a>

      <a href="{{ '/krentoraan/index/' | relative_url }}" class="hub-card">
        <img src="{{ '/assets/Images/Skyrim/enb_2026-2-22_01-19-29_028.png' | relative_url }}" alt="Krentoraan">
        <span>Krentoraan</span>
      </a>

      <a href="{{ '/ghost-of-the-grid/index/' | relative_url }}" class="hub-card">
        <img src="{{ '/assets/Images/Cyberpunk/photomode_22022026_172726.png' | relative_url }}" alt="Ghost of the Grid">
        <span>Ghost of the Grid</span>
      </a>

      <a href="{{ '/no-mans-sky-explorer/index/' | relative_url }}" class="hub-card">
        <img src="{{ '/assets/Images/generic_background.jpg' | relative_url }}" alt="No Mans Sky Explorer">
        <span>No Mans Sky Explorer</span>
      </a>
    </div>
  </section>
  {{ content }}
</main>
